body {
  background-image: url("../img/background.jpg");
  background-size: cover;
}

#container {
  margin: 30px;
  min-width: 100px;
  max-width: 500px;
  height: 300px;
  padding: 40px;
  background-color: #efefef;
  color: green;
  border-radius: 3px;
  border: solid 10px #36260B;
  font-family: 'Kaushan Script', cursive;
}

h1, p {
  color: white;
}

.dot {
  padding: 10px;
  height: 100px;
  width: 100px;
  border-radius: 1000px;
  background-color: green;
  text-align: center;
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 25px;
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}
